[[extend 'layout.html']]
<table>
  <tr>
    <th><div class="section">
      <div class="c50">
            <h3 class="title">Siti importati</h3></th>
    <th></div>
      <div class="c50">
        <h3 class="title">Excel generati</h3></th>
    <th></th>
  </tr>
  <tr>
    <td><ul>
      [[for row in rows:]]
      <li>[[=row.id]]: [[=row.website_url]]</li>
      [[pass]]
      </ul></td>
    <td><ul>
      [[for row in rowsExcel:]]
     <li>ID SITO: [[=row.reference_file]] <a href="/scraper/static/excel/[[=row.file]]">[[=row.file]]</a></li> 
      [[pass]]
      </ul></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>Francisco Chang</td>
    <td></td>
  </tr>
</table>

<div class="section">
    <div class="c50">
          <h3 class="title">Siti importati</h3>
      <ul>
      [[for row in rows:]]
      <li>[[=row.id]]: [[=row.website_url]]</li>
      [[pass]]
      </ul>
    
    </div>
    <div class="c50">
      <h3 class="title">Excel generati</h3>
    
      <ul>
        [[for row in rowsExcel:]]
       <li>ID SITO: [[=row.reference_file]] <a href="/scraper/static/excel/[[=row.file]]">[[=row.file]]</a></li> 
        [[pass]]
        </ul>
    
    </div>
    </div>